<!DOCTYPE html>
<html class="html">
  <head>
    <meta name="google-site-verification" content="3m56W__8sDjU5VlhOfmbKKA_bdPaBSHZMOm5JBYpuvA"/>
    <title>Pierre qui roule</title>
    <link rel="icon" type="image/x-icon" href={{ 'caddie.png' | asset_url}}>

    {{ content_for_header }}
    {{ 'custom-fonts.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}

  </head>

  <body class="body">
    {% section 'header' %}
    <div class="main">
      {{ content_for_layout }}
    </div>
    {% section 'footer' %}
  </body>
</html>
