<div class="main-wrapper">
  <div class="main-column">
    <div class="cust-main">
      <div class="account-data-container">
        <div class="account-data">
          <div class="cust-title">Mon compte</div>
          <div class="form-row">
            <label for="nom">{{ customer.name }}</label>
          </div>
          <div class="form-row">
            <label for="nom">{{ customer.email }}</label>
          </div>
        </div>

        <div class="account-addr">
          <div class="cust-title">Adresse</div>
          {% if customer.addresses_count > 1 %}
            <div class="form-row">
              <label for="nom">{{ customer.addresses[1].name }}</label>
            </div>
            <div class="form-row">
              <label for="address">{{ customer.addresses[1].address1 }}</label>
            </div>
            <div class="form-row">
              <label for="city">{{ customer.addresses[1].city }}</label>
            </div>
            <div class="form-row">
              <label for="zip">{{ customer.addresses[1].zip }}</label>
            </div>
            <div class="form-row">
              <label for="phone">{{ customer.addresses[1].phone }}</label>
            </div>
            <div class="cust-subtitle cust-cntr">
              <a class="link pointer" href="{{ routes.account_addresses_url }}"> Modifier mon adresse </a>
            </div>
          {% endif %}

          {% if customer.addresses_count == 1 %}
            <div class="form-row">
              <label for="info">Vous n'avez pas d'adresse.</label>
            </div>
            <div class="cust-subtitle cust-cntr">
              <a class="link pointer" href="{{ routes.account_addresses_url }}"> Créer une adresse </a>
            </div>
          {% endif %}
        </div>
      </div>

      <div class="orders-section">
        <div class="orders-title cust-title">Commandes</div>
        {% if customer.orders.size == 0 %}
          <div>Vous n'avez pas encore de commande</div>
        {% endif %}
        {% if customer.orders.size != 0 %}
          <table cellspacing="0">
            <tr>
              <th>Numéro</th>
              <th>Date</th>
              <th>Prix</th>
              <th>Articles</th>
              <th>Statut</th>
              <th></th>
            </tr>
            {% for order in customer.orders %}
              {% assign check = forloop.index | modulo: 2 %}
              <tr class="{% if check == 0 %}grey-bg{% endif %}">
                <td>{{ order.name }}</td>
                <td>{{ order.created_at | date: '%Y-%d-%m %Hh%M' }}</td>
                <td>{{ order.total_price | money }}</td>
                <td>{{ order.item_count }} article(s)</td>
                <td>{{ order.fulfillment_status_label }}</td>
                <td>
                  <a class="link hd-box" href="{{ order.order_status_url }}">
                    <button type="submit" class="details-button">Détails</button>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </table>
        {% endif %}
      </div>

      <div class="cust-button-container">
        <a class="link hd-box" href="/account/logout">
          <button type="submit" class="cust-button">Déconnexion</button>
        </a>
      </div>
    </div>
  </div>
</div>

{% style %}
  .details-button {
    font-size: 1rem !important;
    border-radius: 5px;
    background-color: var(--duck-blue);
    color: inherit;
    padding: 0.2rem;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: white;
  }
  @media screen and (max-width: 1000px) {
    .details-button {
      padding: 1rem;
      font-size: 2.5rem !important;
    }
  }

  td {
    font-size: 1rem;
  }
  @media screen and (max-width: 1000px) {
    td {
      font-size: 2rem;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  .grey-bg {
    background-color: var(--light-grey);
  }

  th {
    font-style: bold;
    font-size: 1.3rem;
    background-color: var(--duck-blue);
    color: white;
  }
  @media screen and (max-width: 1000px) {
    th {
      font-size: 2.6rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  .order-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .orders-title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  @media screen and (max-width: 1000px) {
    .orders-title {
      margin-top: 5rem;
    }
  }

  .orders-section {
    flex-direction: column;
    margin-top: 1rem;
    display: flex;
    width: 100%;
  }

  .account-addr {
    border-left-style: solid;
  }
  @media screen and (max-width: 1200px) {
    .account-addr {
      border-left-style: none;
      margin-top: 2rem;
    }
  }

  .account-data-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 1200px) {
    .account-data-container {
      grid-template-columns: 1fr;
    }
  }
{% endstyle %}
