<div class="ft-main">
  <div class="footer-row">
    <div class="ft-block">
      <img
        loading='lazy'
        width="inherit"
        height="100"
        class="mt-logo-pql"
        src={{ 'logo-png.png' | asset_url }} />
    </div>
    {%- comment -%}
    <div class="ft-block">
    <div class="ft-block-title">
    En savoir plus
    </div>
    <div class="ft-block-elem">
    Nos engagements
    </div>
    <div class="ft-block-elem">
    Paiement 100% sécurisé
    </div>
    <div class="ft-block-elem">
    On parle de nous
    </div>
    <div class="ft-block-elem">
    Conditions génerales de vente
    </div>
    <div class="ft-block-elem">
    Mentions légales
    </div>
    </div>
    {%- endcomment -%}
    <div class="ft-block br">
      <div class="ft-block-title ft-all">
        Avec le soutien de:
      </div>
      <img
        loading='lazy'
        width="inherit"
        height="70"
        class="mt-logo-pql"
        src={{ 'hdf-logo.png' | asset_url }} />
    </div>

    <div class="ft-block">
      <div class="ft-block-title">
        Besoin d'aide
      </div>
      <div class="ft-block-elem">
        <a class="link" href="/pages/contact">
          Contact
        </a>
      </div>
      <div class="ft-block-elem">
        <a class="link" href="/pages/faq">
          FAQ
        </a>
      </div>
    </div>
    <div class="ft-block bl">
      <div class="ft-block-title">
        Suivez nous !
      </div>
      <div class="ft-block-elem ft-mb">
        <a
          class="link"
          target="_blank"
          href="https://www.instagram.com/epicerie.pierrequiroule/?hl=fr">
          <img
            loading='lazy'
            width="inherit"
            height="30"
            class="mt-logo-pql"
            src={{ 'insta.png' | asset_url }} />
        </a>
      </div>
      <div class="ft-block-elem">
        <a
          class="link"
          target="_blank"
          href="https://www.facebook.com/epicerie.pierrequiroule">
          <img
            loading='lazy'
            width="inherit"
            height="30"
            class="mt-logo-pql"
            src={{ 'fb.png' | asset_url }} />
        </a>
      </div>
    </div>
  </div>

  <div class="footer-lower-row">
    {%- comment -%}
    <div class="ft-block">
    <div class="ft-block-title ft-all">
    Avec le soutien de:
    </div>
    <img loading='lazy' width="inherit" height="70" class="mt-logo-pql" src={{ 'hdf-logo.png' | asset_url }}/>
    </div>
    {%- endcomment -%}
    <div class="ft-block ft-all">
      <img
        loading='lazy'
        width="inherit"
        height="70"
        class="mt-logo-pql"
        src={{ 'alcool.jpg' | asset_url }} />
    </div>

  </div>

</div>

{% style %}
  .footer-row {
    display: flex;
    width: 100%;
  }

  .footer-lower-row {
    display: flex;
    width: 100%;
    margin-top: 1rem;
  }

  .ft-main {
    display: flex;
    margin-top: 2rem;
    background-color: var(--black);
    width: 100%;
    bottom: 0;
    color: white;
    max-height: 15rem;
    padding: 1rem 0;
    flex-direction: column;
  }

  .ft-all {
    align-items: left;
  }

  .ft-block {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  .bl {
    border-left-style: solid;
    border-left-color: white;
    border-left-width: 1px;
  }

  .br {
    border-right-style: solid;
    border-right-color: white;
    border-right-width: 1px;
  }


  .ft-block-title {
    font-size: 1.1rem;
    margin-bottom: 0.2rem;
  }

  .ft-block-elem {
    font-size: 0.7rem;
    margin-top: 0.5rem;
    margin-bottom: 0.1rem;
    cursor: pointer;
  }

  .ft-block-elem:hover {
    text-decoration: underline;
  }

  .ft-mb {
    margin-bottom: 0.5rem;
  }
{% endstyle %}

{% schema %}
  {
    "name": "Header"
  }
{% endschema %}