<div class="hd-main">
  <div class="header-column">
    <div class="header-wrapper">
      <div class="header">
        <div class="title">
          <div class="logo-box">
            <a class="link hd-box" href="/">
              <img loading='lazy' class="img hd-caddie" src={{ 'caddie.png' | asset_url }}/>
            </a>
          </div>
          <a class="link hd-box " href="/">
            <div class="pql">Pierre</div>
            <div class="pql">qui</div>
            <div class="pql orange">roule</div>
          </a>
        </div>
      </div>

      <div class="socials">
        {%- comment -%}
          <div class="fb-wrapper">
          <img loading='lazy' width="inherit" height="35" class="img fb" src={{ 'cart-icon.png' | asset_url }}/>
          </div>
        {%- endcomment -%}
        <div class="fb-wrapper">
          <a class="link" target="_blank" href="https://www.facebook.com/epicerie.pierrequiroule">
            <img loading='lazy' width="inherit" class="img hd-fb pointer" src={{ 'fb.png' | asset_url }}/>
          </a>
        </div>
        <div class="insta">
          <a class="link" target="_blank" href="https://www.instagram.com/epicerie.pierrequiroule/?hl=fr">
            <img loading='lazy' width="inherit" class="img hd-insta pointer" src={{ 'insta.png' | asset_url }}/>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="hd-menu">

    {% for link in linklists.main-menu.links %}
      <a class="link hd-box border-right" href="{{ link.url }}">
        {{link.title}}
      </a>
    {% endfor %}

  </div>
</div>

{% schema %}
  {
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      }
    ]
  }
{% endschema %}

{% style %}

  .header-column {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: white;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100rem;
    width: 100%;
  }

  .header {
    height: 3rem;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
  }

  @media screen and (max-width: 1000px) {
    .header {
      height: 7rem;
    }
  }


  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
  }

  .hd-fb {
    height: 35px;
    border-radius: 10px;
  }

  @media screen and (max-width: 1000px) {
    .hd-fb {
      height: 60px;
      margin-right: 1rem;
    }
  }

  .hd-insta {
    height: 35px;
  }

  @media screen and (max-width: 1000px) {
    .hd-insta {
      height: 60px
    }
  }

  .fb-wrapper {
    margin-right: 1rem;
  }

  .hd-caddie {
    height: 30px;
  }

  @media screen and (max-width: 1000px) {
    .hd-caddie {
      height: 60px;
    }
  }

  .title {
    display: flex;
  }

  .pql {
    display: flex;
    align-items: center;
    font-family: whimsy;
    font-size: 2rem;
    color: var(--duck-blue);
    margin-right: 0.5rem;
  }
  @media screen and (max-width: 1000px) {
    .pql {
      height: 7rem;
      font-size: 4rem;
      margin-right: 1rem;
    }
  }

  .slogan {
    display: flex;
    align-items: center;
  }

  .orange {
    color: var(--orange)
  }
  .hd-main {
    height: 6rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--black);
  }
  @media screen and (max-width: 1000px) {
    .hd-main {
      height: 14rem;
    }
  }
  img {
    width: "inherit";
    height: "auto";
  }
  .hd-menu {
    height: 3rem;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #28241B;
    display: flex;
    justify-content: space-between;
    font-family: "whimsy";
    font-size: 2rem;
  }
  @media screen and (max-width: 1000px) {
    .hd-menu {
      height: 7rem;
      font-size: 3rem;
    }
  }
  .logo-box {
    background-color: white;
    display: flex;
    width: 4rem;
    max-width: 4rem;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 1000px) {
    .logo-box {
      margin: 0 1.5rem;
    }
  }

  .hd-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
  }
  .hd-box:hover {
    text-shadow: 1px 1px 2px white;
  }
  .border-right {
    border-right-style: solid;
    border-right-color: "#FFFFF";
    border-width: 1px;
  }
{% endstyle %}
