<div class="hd-main">
  <div class="header-column">
    <div class="header-wrapper">
      <div class="header">
        <div class="logo-box">
          <a class="link hd-box" href="/">
            <img
              loading='lazy'
              class="img hd-caddie"
              src={{ 'caddie.png' | asset_url }} />
          </a>
        </div>
        <a class="link hd-box " href="/">
          <div class="pql-container">
            <div class="pql">Pierre</div>
            <div class="pql-subcontainer">
              <div class="pql">qui</div>
              <div class="pql orange">roule</div>
            </div>
          </div>
        </a>
      </div>

      <div class="search-bar-container">
        <form action="{{ routes.search_url }}" class="search-form">
          <input
            required
            class="search-bar"
            type="text"
            placeholder="Rechercher un produit"
            name="q"
            minlength="2"
            value="{{ search.terms | escape }}">
          <input
            type="hidden"
            name="type"
            value="product" />
          <button class="glass-button">
            <img src={{ 'glass.png' | asset_url }} class="glass-img" />
          </button>
        </form>
      </div>

      <div class="socials">
        {%- comment -%}
        <div class="fb-wrapper">
        <img loading='lazy' width="inherit" height="35" class="img fb" src={{ 'cart-icon.png' | asset_url }}/>
        </div>
        {%- endcomment -%}
        <div class="fb-wrapper">
          <a
            class="link"
            target="_blank"
            href="https://www.facebook.com/epicerie.pierrequiroule">
            <img
              loading='lazy'
              width="inherit"
              class="img hd-fb pointer"
              src={{ 'fb.png' | asset_url }} />
          </a>
        </div>
        <div class="insta">
          <a
            class="link"
            target="_blank"
            href="https://www.instagram.com/epicerie.pierrequiroule/?hl=fr">
            <img
              loading='lazy'
              width="inherit"
              class="img hd-insta pointer"
              src={{ 'insta.png' | asset_url }} />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="hd-menu">

    {% for link in linklists.main-menu.links %}
      <a class="link hd-box hd-pd border-right" href="{{ link.url }}">
        {{ link.title }}
      </a>
    {% endfor %}

  </div>
</div>

{% schema %}
  {
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      }
    ]
  }
{% endschema %}

{% style %}

  .pql-container {
    display: flex;
    flex-direction: row;
  }
  @media screen and (max-width: 1000px) {
    .pql-container {
      height: 3.5rem;
      flex-direction: column;
    }
  }

  .pql-subcontainer {
    display: flex;
  }

  .search-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .glass-img {
    filter: invert(1);
    height: 1.7rem;
  }
  @media screen and (max-width: 1000px) {
    .glass-img {
      height: 2.3rem;
      width: 2.3rem;
    }
  }

  .glass-button {
    border-radius: 5px;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--duck-blue);
    color: inherit;
    padding: 3px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  @media screen and (max-width: 1000px) {
    .glass-button {
      height: 4.2rem;
      width: 4.2rem;
    }
  }

  .search-bar {
    -webkit-appearance: none;
    height: 1.5rem;
    font-size: 1.4rem;
    padding: 5px;
    border-radius: 5px;
    width: 20rem;
    margin-right: 0.5rem;
    font-family: whimsy;
  }
  @media screen and (max-width: 1000px) {
    .search-bar {
      height: 3.5rem;
      font-size: 2.3rem;
    }
  }

  .search-bar-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media screen and (max-width: 1000px) {
    .search-bar-container {
      ;
      /* justify-content: left; */
    }
  }

  .header-column {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: white;
  }

  .header-wrapper {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100rem;
    width: 100%;
  }
  @media screen and (max-width: 1000px) {
    .header-wrapper {
      height: 7rem;
    }
  }

  .header {
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
  }
  @media screen and (max-width: 1000px) {
    .header {
      height: 100%;
      align-items: flex-start;
      /* justify-content: space-between; */
    }
  }

  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
  }

  .hd-fb {
    height: 35px;
    border-radius: 10px;
  }
  @media screen and (max-width: 1000px) {
    .hd-fb {
      height: 60px;
      margin-right: 1rem;
    }
  }

  .hd-insta {
    height: 35px;
  }

  @media screen and (max-width: 1000px) {
    .hd-insta {
      height: 60px
    }
  }

  .fb-wrapper {
    margin-right: 1rem;
  }

  .hd-caddie {
    height: 30px;
  }
  @media screen and (max-width: 1000px) {
    .hd-caddie {
      height: 60px;
    }
  }

  .title {
    display: flex;
  }

  .pql {
    display: flex;
    align-items: center;
    font-family: whimsy;
    font-size: 2rem;
    color: var(--duck-blue);
    margin-right: 0.5rem;
  }
  @media screen and (max-width: 1000px) {
    .pql {
      font-size: 3rem;
      margin-right: 1rem;
    }
  }

  .slogan {
    display: flex;
    align-items: center;
  }

  .orange {
    color: var(--orange)
  }
  .hd-main {
    height: 6.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--black);
  }
  @media screen and (max-width: 1000px) {
    .hd-main {
      height: 14rem;
    }
  }
  img {
    width: "inherit";
    height: "auto";
  }
  .hd-menu {
    height: 3rem;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #28241B;
    display: flex;
    justify-content: space-between;
    font-family: "whimsy";
    font-size: 2rem;
  }
  @media screen and (max-width: 1000px) {
    .hd-menu {
      height: 7rem;
      font-size: 3rem;
    }
  }
  .logo-box {
    height: 100%;
    background-color: white;
    display: flex;
    width: 4rem;
    max-width: 4rem;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 1000px) {
    .logo-box {
      margin: 0 0.3rem;
    }
  }

  .hd-pd {
    padding: 0.5rem;
  }

  .hd-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
  }
  .hd-box:hover {
    text-shadow: 1px 1px 2px white;
  }
  .border-right {
    border-right-style: solid;
    border-right-color: "#FFFFF";
    border-width: 1px;
  }
{% endstyle %}