<div class="hd-main">
  <div class="header-column">
    <div class="header-wrapper">
      <div class="header">
        <div class="title">
          <div class="logo-box">
            <a class="link hd-box" href="/">
              <img loading='lazy' width="inherit" height="30" class="img" src={{ 'caddie.png' | file_img_url }}/>
            </a>
          </div>
          <a class="link hd-box " href="/">
            <div class="pql">Pierre</div>
            <div class="pql">qui</div>
            <div class="pql orange">roule</div>
          </a>
        </div>
      </div>

      <div class="socials">
        <div class="fb-wrapper">
          <img loading='lazy' width="inherit" height="35" class="img fb" src={{ 'fb.png' | file_img_url }}/>
        </div>
        <div class="insta">
          <img loading='lazy' width="inherit" height="35" class="img" src={{ 'insta.png' | file_img_url }}/>
        </div>
      </div>
    </div>
  </div>
  <div class="hd-menu">

    {% for link in linklists.main-menu.links %}
      <a class="link hd-box border-right" href="{{ link.url }}">
        {{link.title}}
      </a>
    {% endfor %}

  </div>
</div>

{% schema %}
  {
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      }
    ]
  }
{% endschema %}

{% style %}

  .link {
    all: unset
  }

  .header-column {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: white;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100rem;
    width: 100%;
  }

  .header {
    height: 3rem;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    /*padding-left: 2rem;
    padding-right: 2rem;*/
  }

  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
  }

  .fb {
    border-radius: 10px;
  }

  .fb-wrapper {
    margin-right: 1rem;
  }

  .title {
    display: flex;
  }

  .pql {
    font-family: whimsy;
    font-size: 2rem;
    color: var(--duck-blue);
    margin-right: 0.5rem;
  }

  .slogan {
    display: flex;
    align-items: center;
  }

  .orange {
    color: var(--orange)
  }

  .hd-main {
    height: 6rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--black);
  }

  img {
    width: "inherit";
    height: "auto";
  }

  .hd-menu {
    height: 3rem;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #28241B;
    display: flex;
    justify-content: space-between;
    font-family: "whimsy";
    font-size: 2em;
  }

  .logo-box {
    background-color: white;
    display: flex;
    width: 4rem;
    max-width: 4rem;
    justify-content: center;
    align-items: center;
  }

  .hd-box {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
  }

  .hd-box:hover {
    text-shadow: 1px 1px 2px white;
  }

  .border-right {
    border-right-style: solid;
    border-right-color: "#FFFFF";
    border-width: 1px;
  }
{% endstyle %}
