<div class="main-wrapper">
  <div class="main-column pt col">
    <div class="prod-container">
      <div class="prod">
        {{ 'cart.css' | asset_url | stylesheet_tag }}
        <div class="product-grid">
          <div class="prod-pic">
            <img
              class="prod-img"
              src="{{ product | img_url: 'original' }}"
              display="block"
              width="400"
              height="400"
              loading="lazy"
            >
          </div>

          <div class="prod-data">
            <div class="prod-header">
              <div class="prod-title">
                {{ product.title }}
              </div>

              <div class="product-return-container">
                <a class="link hd-box back-button-link" href="{{product.collections[0].url}}">
                  <button class="product-return-button whimsy">
                    <div class="arrow-container">
                      <img
                        class="arrow-img"
                        src="{{ 'left-arrow.png' | asset_url }}"
                        display="block"
                        width="30"
                        height="30"
                        loading="lazy"
                      >
                    </div>
                    <div>Retour</div>
                  </button>
                </a>
              </div>
            </div>

            <div class="prod-price">
              {% if product.price %}
                {{ product.price | money }}
                {% assign current_variant = product.selected_or_first_available_variant %}
                {% if current_variant.unit_price_measurement %}
                  {% if current_variant.unit_price_measurement.quantity_value == 1 %}
                    /{{ current_variant.unit_price_measurement.quantity_unit }}
                  {% else %}
                    pour
                    {{ current_variant.unit_price_measurement.quantity_value }}
                    {{ current_variant.unit_price_measurement.quantity_unit }}
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>

            <div class="form-product-container">
              <select name="id" hidden>
                {% for variant in product.variants %}
                  <option
                    value="{{ variant.id }}"
                    {% if variant == product.selected_or_first_available_variant %}
                      selected="selected"
                    {% endif %}
                  >
                    {{ variant.title }} - {{ variant.price | money }}
                  </option>
                {% endfor %}
              </select>

              {% assign item-quantity = 0 %}
              {% for item in cart.items %}
                {% if product.id == item.product.id %}
                  {% assign item-quantity = item-quantity | plus: item.quantity %}
                {% endif %}
              {% endfor %}

              <div class="cart-item-data bg-green mt-1">
                <button id="minus-button" type="button" class="minus cart-quantity-selector button">
                  <img src="{{ 'white-minus.png' | asset_url }}" class="white-minus">
                </button>
                <input
                  id="qty-input"
                  type="text"
                  name="updates[]"
                  value="{{ item-quantity }}"
                  class="qty-input"
                  prodId="{{ current_variant.id }}"
                  readonly
                >
                <button id="plus-button" type="button" class="plus cart-quantity-selector">
                  <img src="{{ 'white-plus.png' | asset_url }}" class="white-plus">
                </button>
              </div>
            </div>

            <div class="prod-desc">
              {{ product.description }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% style %}
  .cart-button-container {
    display:flex;
    align-items: end;
  }

  .count {
    margin-left:1rem;
    font-size: 1.2rem;
  }

  @media screen and (max-width: 1000px) {
    .count {
    font-size: 2.2rem;
  }
  }

  .product-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  }
  @media screen and (max-width: 1400px) {
  .product-grid {
  grid-template-columns: 1fr;
  }
  }

  .arrow-img {}

  .arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  }

  .back-button-link {
  display: flex;
  align-items: end;
  justify-content: end;
  background-color: red;
  width: fit-content;
  /* margin-top: 1rem; */
  margin-right: 1rem;
  }
  @media screen and (max-width: 1000px) {
  .back-button-link {
  margin-top: 2rem;
  margin-bottom: 2rem;
  }
  }

  .form-product-container {
  margin-top: 1rem;
  }
  @media screen and (max-width: 1000px) {
    .form-product-container {
      margin-top: 2rem;
    }
  }

  .product-return-container {
  display: flex;
  width: 100%;
  align-items: end;
  justify-content: end;
  }

  .product-return-button {
  cursor: pointer;
  background-color: var(--duck-blue);
  color: white;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: fit-content;
  font-size: 2rem;
  }
  @media screen and (max-width: 1000px) {
  .product-return-button {
  font-size: 4rem;
  }
  }

  .prod-header {
  display: flex;
  width: 100%;
  }

  .prod-price {
  display: flex;
  width: 100%;
  font-size: 1.6rem;
  }
  @media screen and (max-width: 1000px) {
  .prod-price {
  font-size: 2.2rem;
  }
  }

  .prod-title {
  display: flex;
  width: 100%;
  font-size: 2.5rem;
  align-items: center;
  justify-content: start;
  }
  @media screen and (max-width: 1000px) {
  .prod-title {
  font-size: 3rem;
  }
  }

  .prod-container {
  margin-top: 1rem;
  display: flex;
  }

  .prod {
  display: flex;
  margin-right: 1rem;
  margin-left: 1rem;
  width: 100%;
  }

  .prod-pic {
  width: fit-content;
  height: 100%;
  margin-right: 1rem;
  }
  @media screen and (max-width: 1400px) {
  .prod-pic {
  display: flex;
  width: 100%; !important;
  align-items: center;
  justify-content: center;
  }
  .prod-img {
  width: 50rem;
  height: 50rem;
  }
  }

  .prod-desc {
  font-size: 1.6rem;
  }
  @media screen and (max-width: 1000px) {
  .prod-desc {
  font-size: 2.2rem;
  }
  }

  .prod-data {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  }

  table {
  border-collapse: collapse;
  border-spacing: 0;
  }
  @media screen and (max-width: 1000px) {
  table {
  font-size: 1.5rem;
  }
  }

  td {
  padding: 1rem;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  vertical-align: middle;
  }
{% endstyle %}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  plusButton = document.getElementById(`plus-button`);
  minusButton = document.getElementById(`minus-button`);
  qtyInput = document.getElementById(`qty-input`);
  prodId = qtyInput.getAttribute('prodId');

  plusButton.addEventListener('click', (event) => {
    const value = parseInt(qtyInput.value);
    const newValue = value + 1;
    qtyInput.value = newValue;

    if (value == 0) {
      axios.post('/cart/add.js', {
        id: prodId,
        quantity: 1,
      });
    } else {
      axios.post('/cart/change.js', {
        id: prodId,
        quantity: newValue,
      });
    }
  });

  minusButton.addEventListener('click', (event) => {
    const value = parseInt(qtyInput.value);
    const newValue = value - 1;
    if (value > 0) {
      qtyInput.value = newValue;
      axios.post('/cart/change.js', {
        id: prodId,
        quantity: newValue,
      });
    }
  });
</script>
