<div class="main-wrapper">
  <div class="main-column pt col">


    <div class="prod-container">
      <div class="prod">
        <div class="prod-pic">
          <img
            src="{{ product | img_url: 'original' }}"
            display="block"
            width="400"
            height="400"
            loading="lazy" />
        </div>
        <div class="prod-data">
          <div class="prod-header">
            <div class="prod-title">
              {{ product.title }}
            </div>

            <div class="product-return-container">
              <a class="link hd-box back-button-link" href="{{product.collections[0].url}}">
                <button class="product-return-button whimsy">
                  <div class="arrow-container">
                    <img
                      class="arrow-img"
                      src="{{ 'left-arrow.png' | asset_url }}"
                      display="block"
                      width="30"
                      height="30"
                      loading="lazy" />
                  </div>
                  {% comment %} <div>
                  {{ product.collections[0].title }}
                  </div> {% endcomment %}
                  <div>
                    Retour
                  </div>
                </button>
              </a>
            </div>

          </div>

          <div class="prod-price">
            {%- if product.price -%}
              {{ product.price | money }}
            {%- endif -%}
            {% assign current_variant = product.selected_or_first_available_variant %}
            {%- if current_variant.unit_price_measurement -%}
              pour
              {{ current_variant.unit_price_measurement.quantity_value }}
              {{ current_variant.unit_price_measurement.quantity_unit }}
            {%- endif -%}
          </div>

          <div class="prod-desc">
            {{ product.description }}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

{% style %}


  .arrow-img {}

  .arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
  }

  .back-button-link {
    display: flex;
    align-items: end;
    justify-content: end;
    background-color: red;
    width: fit-content;
    /* margin-top: 1rem; */
    margin-right: 1rem;
  }
  @media screen and (max-width: 1000px) {
    .back-button-link {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  .product-return-container {
    display: flex;
    width: 100%;
    align-items: end;
    justify-content: end;
  }

  .product-return-button {
    cursor: pointer;
    background-color: var(--duck-blue);
    color: white;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: fit-content;
    font-size: 2rem;
  }
  @media screen and (max-width: 1000px) {
    .product-return-button {
      font-size: 3rem;
    }
  }

  .prod-header {
    display: flex;
    width: 100%;
  }

  .prod-price {
    display: flex;
    width: 100%;
    font-size: 1.6rem;
  }
  @media screen and (max-width: 1000px) {
    .prod-price {
      font-size: 2.2rem;
    }
  }

  .prod-title {
    display: flex;
    width: 100%;
    font-size: 2.5rem;
    align-items: center;
    justify-content: start;
  }
  @media screen and (max-width: 1000px) {
    .prod-title {
      font-size: 3rem;
    }
  }

  .prod-container {
    margin-top: 1rem;
    display: flex;
  }

  .prod {
    /* padding-left: 1rem; */
    display: flex;
    margin-right: 1rem;
    margin-left: 1rem;
    width: 100%;
  }

  .prod-pic {
    width: fit-content;
    height: 100%;
    margin-right: 1rem;
  }

  .prod-desc {
    font-size: 1.6rem;
  }
  @media screen and (max-width: 1000px) {
    .prod-desc {
      font-size: 2.2rem;
    }
  }

  .prod-data {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  @media screen and (max-width: 1000px) {
    table {
      font-size: 1.5rem;
    }
  }

  td {
    padding: 1rem;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    vertical-align: middle;
  }
{% endstyle %}