<div class="main-wrapper">
  <div class="main-column">
    <div class="tt-main">

      <div class="tt-title-wrapper">
        <div class="tt-title whimsy orange-underline">Nos tournées</div>
      </div>

      <div class="tt-legend-wrapper">
        <div class="tt-legend">
          <div class="tt-icon-legend">
            <img loading='lazy' width="inherit" class="img tt-icon" src={{ 'market-icon.png' | asset_url }}/>
          </div>
          <div class="tt-legend-desc">
            Marché
          </div>
        </div>

        <div class="tt-legend">
          <div class="tt-icon-legend">
            <img loading='lazy' width="inherit" class="img tt-icon" src={{ 'postbox-icon.png' | asset_url }}/>
          </div>
          <div class="tt-legend-desc">
            Livraison à domicile
          </div>
        </div>

        <div class="tt-legend">
          <div class="tt-icon-legend">
            <img loading='lazy' width="inherit" class="img tt-icon" src={{ 'camion-noir-icon.png' | asset_url }}/>
          </div>
          <div class="tt-legend-desc">
            Arrêt dans la commune
          </div>
        </div>

      </div>

      <div class="tt-wrapper">
        <div class="tt-days-row">

          {%- comment -%} <div class="tt-day-box">
            <div class="day whimsy">Lundi</div>
            <div class="tt-half-day">
              <div class="tt-half-day-title whimsy">

              </div>
              <div class="tt-half-day-row">
                <div class="tt-place whimsy">
                </div>
              </div>
            </div>
          </div> {%- endcomment -%}

          <div class="tt-day-box">
            <div class="day whimsy">Mardi</div>
            <div class="tt-half-day bb-orange">
              <div class="tt-half-day-title whimsy">
                Matin:
              </div>
              <div class="tt-half-day-row">
                <div class="tt-place whimsy">
                  <div class="tt-icon">
                    <img loading='lazy' width="inherit" class="img tt-icon" src={{ 'market-icon.png' | asset_url }}/>
                  </div>
                  <div class="tt-city">
                    Le Portel
                  </div>
                  <div class="tt-times">
                    <div class="tt-time">
                      - Le matin
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tt-half-day-title whimsy">
              Après-midi:
            </div>

            <div class="tt-half-day-row">
              <div class="tt-place whimsy">
                <div class="tt-icon">
                  <img loading='lazy' width="inherit" class="img tt-icon" src={{ 'camion-noir-icon.png' | asset_url }}/>
                </div>
                <div class="tt-city">
                  Longfossé, devant la mairie
                </div>
                <div class="tt-times">
                  <div class="tt-time">
                    - de 15h30 à 17h30
                  </div>
                </div>
              </div>
            </div>

            <div class="tt-half-day-row">
              <div class="tt-place whimsy">
                  <div class="tt-icon">
                    <img loading='lazy' width="inherit" class="img tt-icon" src={{ 'camion-noir-icon.png' | asset_url }}/>
                  </div>
                  <div class="tt-city">
                    Wavrans sur l'Aa
                  </div>
                  <div class="tt-times">
                    <div class="tt-time">
                      - Devant la salle Josse Heumetz 18h à 19h30
                    </div>
                  </div>
              </div>
            </div>

            </div>

          <div class="tt-day-box">
            <div class="day whimsy">Mercredi</div>
            <div class="tt-half-day bb-orange">
              <div class="tt-half-day-title whimsy">
                Matin:
              </div>
              <div class="tt-half-day-row">
                <div class="tt-place whimsy">
                  <div class="tt-icon">
                    <img loading='lazy' width="inherit" class="img tt-icon" src={{ 'camion-noir-icon.png' | asset_url }}/>
                  </div>
                  <div class="tt-city">
                    Warhem
                  </div>
                  <div class="tt-times">
                    <div class="tt-time">
                      - Devant la mairie de 10h30 à 12h30
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tt-half-day-title whimsy">
              Après-midi:
            </div>
            <div class="tt-half-day-row">
              <div class="tt-place whimsy">
                <div class="tt-icon">
                  <img loading='lazy' width="inherit" class="img tt-icon" src={{ 'camion-noir-icon.png' | asset_url }}/>
                </div>
                <div class="tt-city">
                  Tétéghem Coudekerque Village
                </div>
                <div class="tt-times">
                  <div class="tt-time">
                    - Devant la salle Duchaussois de 13h30 à 15h
                  </div>
                  <div class="tt-time">
                    - Sur le parking du Bric ada Brac de 15h15 à 16h30
                  </div>
                </div>
              </div>
            </div>
            <div class="tt-half-day-row">
              <div class="tt-place whimsy">
                <div class="tt-icon">
                  <img loading='lazy' width="inherit" class="img tt-icon" src={{ 'camion-noir-icon.png' | asset_url }}/>
                </div>
                <div class="tt-city">
                  Eringhem
                </div>
                <div class="tt-times">
                  <div class="tt-time">
                    - A côté de l'école de 17h à 19h30
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tt-day-box">
            <div class="day whimsy">Jeudi</div>
            <div class="tt-half-day-title whimsy">
              Après-midi:
            </div>
            <div class="tt-half-day-row">
              <div class="tt-place whimsy">
                <div class="tt-icon">
                  <img loading='lazy' width="inherit" class="img tt-icon" src={{ 'camion-noir-icon.png' | asset_url }}/>
                </div>
                <div class="tt-city">
                  Steenbecque
                </div>
                <div class="tt-times">
                  <div class="tt-time">
                    - A côté de l'école de 16h à 17h45
                  </div>
                </div>
              </div>
            </div>
            <div class="tt-half-day-row">
              <div class="tt-place whimsy">
                <div class="tt-icon">
                  <img loading='lazy' width="inherit" class="img tt-icon" src={{ 'camion-noir-icon.png' | asset_url }}/>
                </div>
                <div class="tt-city">
                  Sercus
                </div>
                <div class="tt-times">
                  <div class="tt-time">
                    - Sur la place de 18h à 19h30
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>

        <div class="tt-days-row-bot tt-mt">

          <div class="tt-day-box">

            <div class="day whimsy">Vendredi</div>

            {% comment %} <div class="tt-half-day bb-orange">
            <div class="tt-half-day-title whimsy">
                Matin:
              </div>
              <div class="tt-half-day-row">
                <div class="tt-place whimsy">
                  <div class="tt-icon">
                    <img loading='lazy' width="inherit" class="img tt-icon" src={{ 'market-icon.png' | asset_url }}/>
                  </div>
                  <div class="tt-city">
                    Lumbres
                  </div>
                  <div class="tt-times">
                    <div class="tt-time">
                      - Le matin
                    </div>
                  </div>
                </div>
              </div>
            </div> {% endcomment %}

            <div class="tt-half-day-title whimsy">
              Après-midi:
            </div>
            <div class="tt-half-day-row">
              <div class="tt-place whimsy">
                <div class="tt-icon">
                  <img loading='lazy' width="inherit" class="img tt-icon" src={{ 'camion-noir-icon.png' | asset_url }}/>
                </div>
                <div class="tt-city">
                  Wittes
                </div>
                <div class="tt-times">
                  <div class="tt-time">
                    - Boulangerie "à ma façon" de 16h à 17h45
                  </div>
                </div>
              </div>
            </div>
            <div class="tt-half-day-row">
              <div class="tt-place whimsy">
                <div class="tt-icon">
                  <img loading='lazy' width="inherit" class="img tt-icon" src={{ 'camion-noir-icon.png' | asset_url }}/>
                </div>
                <div class="tt-city">
                  Racquighem
                </div>
                <div class="tt-times">
                  <div class="tt-time">
                    - Devant la salle Jean Lefebvre de 18h à 19h30
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="tt-day-box">
            <div class="day whimsy">Samedi</div>
            <div class="tt-half-day bb-orange">
              <div class="tt-half-day-title whimsy">
                Matin:
              </div>
              <div class="tt-half-day-row">
                <div class="tt-place whimsy">
                  <div class="tt-icon">
                    <img loading='lazy' width="inherit" class="img tt-icon" src={{ 'camion-noir-icon.png' | asset_url }}/>
                  </div>
                  <div class="tt-city">
                    Campagne-lès-Wardrecques
                  </div>
                  <div class="tt-times">
                    <div class="tt-time">
                      - Place de l'église de 9h à 12h
                    </div>
                  </div>
                  </div>
              </div>
            </div>
            <div class="tt-half-day-title whimsy">
              Après-midi:
            </div>
            <div class="tt-half-day-row">
              <div class="tt-place whimsy">
                <div class="tt-icon">
                  <img loading='lazy' width="inherit" class="img tt-icon" src={{ 'camion-noir-icon.png' | asset_url }}/>
                </div>
                <div class="tt-city">
                  Arques
                </div>
                <div class="tt-times">
                  <div class="tt-time">
                    - Avenue de la Libération de 12h45 à 13h45
                  </div>
                  <div class="tt-time">
                    - Rue Jacques Cartier de 14h à 15h
                  </div>
                  <div class="tt-time">
                    - Cité Beauséjour de 15h15 à 16h
                  </div>
                </div>
              </div>
            </div>
            <div class="tt-half-day-row">
              <div class="tt-place whimsy">
                <div class="tt-icon">
                  <img loading='lazy' width="inherit" class="img tt-icon" src={{ 'camion-noir-icon.png' | asset_url }}/>
                </div>
                <div class="tt-city">
                  Roquetoire
                </div>
                <div class="tt-times">
                  <div class="tt-time">
                    - Aux "Caves du Brasseur" de 16h45 à 18h
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>

    </div>
  </div>
</div>

{%- style -%}

  .tt-icon {
    height: 30px;
  }

  @media screen and (max-width: 1200px) {
    .tt-icon {
      height: 50px;
    }
  }

  .tt-main {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .tt-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
    background-color: var(--duck-blue)
  }

  .tt-days-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 1rem;
    column-gap: 1rem;
  }

  .tt-days-row-bot {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 1rem;
    column-gap: 1rem;
  }

  @media screen and (max-width: 1200px) {
    .tt-days-row {
      grid-template-columns: 1fr;
    }

    .tt-days-row-bot {
      grid-template-columns: 1fr;
    }

  }

  .tt-title-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .tt-legend-wrapper {
    display: flex;
    justify-content: flex-start;
    background-color: var(--duck-blue);
    padding: 1rem 1rem 0;
  }

  .tt-legend {
    display: flex;
    margin-right: 1rem;
  }

  .tt-legend-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  @media screen and (max-width: 1200px) {
    .tt-legend-desc {
      font-size: 1.5rem;
    }
  }

  .tt-title {
    display: flex;
    font-size: 3rem;
    justify-content: center;
    display: flex;
  }

  @media screen and (max-width: 1000px) {
    .tt-title {
      font-size: 4rem;
    }
  }
  
  .tt-day-box {
    display: flex;
    width: 100%;
    height: min-content;
    flex-direction: column;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: var(--duck-blue);
    border-radius: 10px;
    background-color: white;
  }

  @media screen and (max-width: 1200px) {
    .tt-day-box {
      margin: 1rem 0;
    }
  }

  .tt-mt {
    margin-top: 1rem;
  }

  .tt-text {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-style: italic;
    margin-bottom: 1rem;
  }

  .tt-half-day {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .tt-half-day-title {
    display: flex;
    padding: 0.3rem;
    width: 100%;
    font-size: 1.3rem;
    justify-content: center;
    text-decoration: underline;
  }

  @media screen and (max-width: 1200px) {
    .tt-half-day-title {
      font-size: 2.2rem;
    }
  }

  .tt-half-day-row {
    display: flex;
    width: 100%;
  }

  .day {
    background-color: var(--orange);
    padding: 0.3rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-size: 1.5rem;
  }

  @media screen and (max-width: 1200px) {
    .day {
      font-size: 2.5rem;
    }
  }

  .bb-orange {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--orange);
  }

  .tt-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tt-icon-legend {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
  }

  .tt-place {
    font-size: 1.3rem;
    display: flex;
    padding: 0.3rem;
    width: 100%;
    align-items: flex-start;
  }

  @media screen and (max-width: 1200px) {
    .tt-place {
      font-size: 2.5rem;
    }
  }

  .tt-city {
    display: flex;
    padding-top: 0.4rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    text-align: start;
  }

  .tt-times {
    display: flex;
    flex-direction: column;
    padding-top: 0.4rem;
  }

  .tt-time {
    text-align: start;
  }
}
{% endstyle %} 